## 練習時間
在小量的資料上，我們用眼睛就可以看得出來程式碼是否有跑出我們理想中的結果

請嘗試想像一個你需要的資料結構 (裡面的值可以是隨機的)，然後用上述的方法把它變成 pandas DataFrame

#### Ex: 想像一個 dataframe 有兩個欄位，一個是國家，一個是人口，求人口數最多的國家

### Hints: [隨機產生數值](https://blog.csdn.net/christianashannon/article/details/78867204)

In [1]:
import pandas as pd
import numpy as np

In [2]:
data = {'country': ['Taiwan', 'US', 'China', 'Australia', 'Japan', 'England'] ,
        'population': np.random.randint(1000000,size=6) }
data = pd.DataFrame(data)
data

     country  population
0     Taiwan      166749
1         US      636350
2      China      183658
3  Australia      339648
4      Japan      721324
5    England      876189

In [3]:
data.loc[data["population"].idxmax()] #找出人口數最多的國家

country       England
population     876189
Name: 5, dtype: object